{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <ol {{ attributes.addClass('breadcrumb') }}>
    {% if breadcrumb_text %}
      <li class = 'breadcrumb-title'> {{ breadcrumb_text }} </li>
    {% endif %}
    {% for item in breadcrumb %}
      <li class = "item-{{ loop.index }} {{ item.attributes.class }}">
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
  </ol>
{% endif %}
